<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="col-lg-4">
      <ul class="hex-list">
        <h3 class="title title-footer">Stalk:</h3>
        <li><a href=""><div class="hex-footer"></div><i class="fa fa-linkedin fa-footer"></i><p class="footer-hex-text">LinkedIn</p></a></li>
        <li><a href=""><div class="hex-footer"></div><i class="fa fa-twitter fa-footer"></i><p class="footer-hex-text">Twitter</p></a></li>
        <li><a href=""><div class="hex-footer"></div><i class="fa fa-github fa-footer"></i><p class="footer-hex-text">Github</p></a></li>
        <li><a href=""><div class="hex-footer"></div><i class="fa fa-file fa-footer"></i><p class="footer-hex-text">Resume</p></a></li>
      </ul>
    </div>
    <div class="col-lg-4">
      <h3 class="title title-footer">Current:</h3>
      <p class="lead">I'm consulting with a select group of startups and accelerators on how to implement early growth tactics to onboard users or identify sales opportunities.</p>
    </div>
    <div class="col-lg-4">
      
    </div>
  </div>
</footer>
