<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="col-lg-4">
      <ul class="hex-list">
        <h3 class="title">Connect:</h3>
        <li><a href=""><div class="hex-footer"></div><i class="fa fa-linkedin fa-footer"></i><p class="footer-hex-text">LinkedIn</p></a></li>
        <li><a href=""><div class="hex-footer"></div><i class="fa fa-twitter fa-footer"></i><p class="footer-hex-text">Twitter</p></a></li>
        <li><a href=""><div class="hex-footer"></div><i class="fa fa-github fa-footer"></i><p class="footer-hex-text">Github</p></a></li>
        <li><a href=""><div class="hex-footer"></div><i class="fa fa-file fa-footer"></i><p class="footer-hex-text">Resume</p></a></li>
      </ul>
    </div>
    <div class="col-lg-4">
      <h3 class="title">About Me:</h3>
    </div>
    <div class="col-lg-4">
      <h3 class="title">About Me:</h3>
    </div>
  </div>
</footer>
